<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$meta.title}</title>
    <meta name="description" content="{$meta.description|nohtml}">
    <meta name="keywords" content="{$meta.keywords|nohtml}">
    <link href="{$meta.rss}" rel="alternate" title="订阅{$global.name|nohtml}" type="application/rss+xml">
    <link rel="shortcut icon" type="image/jpeg" href="{$meta.favicon}">
    <link rel="apple-touch-icon" href="{$meta.mobile_icon}">
    {jsrequire}
    {cssrequire}
    <link rel="stylesheet" href="http://t.libdd.com/css/base/rich-content.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

</body>
</html>
