.tool-title
	img(src='/img/theme-logo.png')
	.navbar
		a.setting(href='#', id='blog-setting', target='_blank') 设置
		a.doc(href='http://doc.diandian.com', target='_blank') 开发文档
		a.manage(href='http://www.diandian.com/themes/manage', target='_blank') 模板管理
		a.logout(href='/logout') 退出