!!! 5
html
	head
		title 点点模板开发工具
		meta(charset='utf-8')
		script(type="text/javascript", src="/js/lib/jquery-latest.js")
		script(type="text/javascript", src="/js/lib/jquery.combobox.js")
		script(type="text/javascript", src="/js/lib/jquery.scrollbar.js")
		script(type="text/javascript", src='/js/lib/jquery.form.js')
		script(type="text/javascript", src="/js/lib/common.js")
		link(rel='stylesheet', href='/css/main.css')
	body
		#container!= body
		
